<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href = "{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="frame">
        <header class = "page-header">
            <h2>Posts</h2>
        </header>
        <br>
        <div class = "contents">
            {% if not posts %}
            <p class = "no-post">Empty</p>
            {% endif %}
            {% for post in posts %}
            <div class="postlist">
                <a class = "post-title" href="{% url 'detail_page' post.pk %}">{{ post.title }}</a>
                <span>{{ post.view }} views</span>
            </div>
            {% endfor %}
        </div>
    </div>

    <a class="tool" href="{% url 'write_page' %}">Write new one</a>
</body>
</html>