<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href = "{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="frame">
        <header class="page-header">
            <h2>write new post</h2>
        </header>
        <br>
        <div class="contents">
            <form method="POST">
                {% csrf_token %}
                <label for = "title">title</label><br>
                <input id = "title" name="title">
                <label for="content">content</label><br>
                <textarea id = "content" name="content" placeholder="your content">
                </textarea>
                <button type="submit">Go</button>
            </form>
        </div>
        <a class="tool" href="{% url 'list_page' %}">go to the list</a>
    </div>
</body>
</html>