<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'category.css' %}">
</head>
<body>
    <p>신재현의 Blog</p>
    <div class="frame">
        <h2>글 쓰기 페이지</h2>
        <form action = "/new" method="post">
            {% csrf_token %}
            <div>
                <select name = "category">
                    <option>Hobby</option>
                    <option>Study</option>
                    <option>Book</option>
                </select>
            </div>
            <div>
                <div>글 제목</div>
                <input type="text" name="title" />
            </div>
            <div>
                <div>글 내용</div>
                <textarea name="content" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">작성 완료</button>
        </form>
        <a href ="{% url 'list' %}">카테고리 목록으로 돌아가기</a>
    </div>
</body>
</html>